/* Global ==================================== */
:root {
    --dark-blue: #363f5f;
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929;
    --light-color-base: #FFF;
    --background-color-header: #F2C94C;
    --backgroundcolorcards: #FFFFFF;
    --backgroundcolor: #F0F2F5;
    --backgroundcolortable: #fff;
    --backgroundcolormodal: #f0f2f5;
    --textcolortable:  #969cb3;
    --cardtotal: #49aa26;
    --inputbackgroundcolor: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
}

html {
    font-size: 93.75%;
}

body {
    background: var(--backgroundcolor);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles ==================================== */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

/* Links & Buttons ==================================== */

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: var(--green);

    padding: 0;
    border-radius: 0.25rem;
    
    cursor: pointer;
}

button:hover {
    background: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 0.25rem;

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* Header ==================================== */

header {
    background-color: var(--background-color-header);
    padding: 2rem 0 10rem;
    text-align: center;
}

header #logo {
    color: #fff;
    font-weight: 100;
}


/* Balance ==================================== */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top:0;
}

/* Cards ==================================== */

.card {
    background-color: var(--backgroundcolorcards);
    padding: 1.5rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: 400;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--cardtotal);

}

.negative {
    background: var(--red);
}

.card.total span,
.card.total p{

    color: #fff ;
}

/* Table ==================================== */

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--textcolortable);
    
    overflow-x: auto;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: var(--backgroundcolortable);
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody td {
    background: var(--backgroundcolortable);   
    padding: 1rem 2rem;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

td.description {
    color: var(--textcolortable)
}

td.income {
    color: #12a454
}

td.expense {
    color: #e92929
}

/* Modal ==================================== */

.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible; 
}

.modal {
    background: var(--backgroundcolormodal);
    /* background: #f0f2f5; */
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
    position: relative;
    z-index: 1;
}

small.help{   
    color: var(--dark-blue)
}
/* Filter ==================================== */
.navOptions {
    display: flex;
    justify-content: space-between
}

.filter {
    color: var(--green)
}


.filter-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.filter-overlay.active {
    opacity: 1;
    visibility: visible; 
}

#filter {
    max-width: 500px;

}

#filter h2 {
    margin-top: 0;
}

#filter form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
    background-color: var(--inputbackgroundcolor);
}


.modalFilter {
    background: var(--backgroundcolormodal);
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
    position: absolute;
    z-index: 1;
}


#filter form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
    background-color: var(--inputbackgroundcolor);

}

.footOptions {
    display: flex;
    justify-content: flex-end;
}

/* Editor ==================================== */

.edit-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.edit-overlay.active {
    opacity: 1;
    visibility: visible; 
}

.edit {
    background: var(--backgroundcolormodal);
    /* background: #f0f2f5; */
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
    position: relative;
    z-index: 1;
}

small.help{   
    color: var(--dark-blue)
}

/* Form ==================================== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
    background-color: var(--inputbackgroundcolor);
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small{
    color: (--dark-blue);
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}


/* Footer ==================================== */

.footer {
    text-align: center;
    padding: 16rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;

}

.footer i {
    color: var(--dark-blue);
    font-size: 1.8rem;
    opacity: 0.6;
}

i:hover {
    opacity: 1;
}

/* Responsive ==================================== */

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}

/* Theme Switcher ==================================== */
body.dark {
    --dark-blue: #ffffff;
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929;
    --light-color-base: #FFF;
    --background-color-header: #000000;
    --backgroundcolorcards: #1a1616;
    --backgroundcolor: #292C35;
    --backgroundcolortable: #1a1616;;
    --backgroundcolormodal: #18181d;
    --textcolortable:  #FFF;
    --cardtotal: #1a1616;
    --inputbackgroundcolor: #282829;

    transition: 0.2s linear
}

body.light {
    transition: 0.2s linear
}

.themetoggler {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    padding-bottom: 2px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
	background-color: var(--background-color-header);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #363f5f;
}

.fa-sun {
	color: #f39c12;
}


